# js
node_modules
.nyc_output
.idea/workspace.xml
yarn-error.log
.DS_Store
coverage/

# ios
xcuserdata
.idea/workspace.xml
.idea/dictionaries/*
Build

# lerna
lerna-debug.log

# sonar
.scannerwork

# compute-churn
codemaat.txt
churn.txt
abs-churn.txt
