<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cogito.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
				<key>dateExpires</key>
				<string>17/06/2019</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
						<key>dateExpires</key>
						<string>17/06/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BigInt.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MWTEZ4CYM6</string>
						<key>name</key>
						<string>Philips Electronics Nederland B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
						<key>dateExpires</key>
						<string>17/06/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Differentiator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MWTEZ4CYM6</string>
						<key>name</key>
						<string>Philips Electronics Nederland B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
						<key>dateExpires</key>
						<string>17/06/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FontAwesome_swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MWTEZ4CYM6</string>
						<key>name</key>
						<string>Philips Electronics Nederland B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
						<key>dateExpires</key>
						<string>17/06/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JWTDecode.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MWTEZ4CYM6</string>
						<key>name</key>
						<string>Philips Electronics Nederland B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
						<key>dateExpires</key>
						<string>17/06/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainAccess.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MWTEZ4CYM6</string>
						<key>name</key>
						<string>Philips Electronics Nederland B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
						<key>dateExpires</key>
						<string>17/06/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>QRCodeReader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MWTEZ4CYM6</string>
						<key>name</key>
						<string>Philips Electronics Nederland B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
						<key>dateExpires</key>
						<string>17/06/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReRxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MWTEZ4CYM6</string>
						<key>name</key>
						<string>Philips Electronics Nederland B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
						<key>dateExpires</key>
						<string>17/06/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MWTEZ4CYM6</string>
						<key>name</key>
						<string>Philips Electronics Nederland B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
						<key>dateExpires</key>
						<string>17/06/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReSwiftThunk.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MWTEZ4CYM6</string>
						<key>name</key>
						<string>Philips Electronics Nederland B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
						<key>dateExpires</key>
						<string>17/06/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RichString.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MWTEZ4CYM6</string>
						<key>name</key>
						<string>Philips Electronics Nederland B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
						<key>dateExpires</key>
						<string>17/06/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MWTEZ4CYM6</string>
						<key>name</key>
						<string>Philips Electronics Nederland B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
						<key>dateExpires</key>
						<string>17/06/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxDataSources.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MWTEZ4CYM6</string>
						<key>name</key>
						<string>Philips Electronics Nederland B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
						<key>dateExpires</key>
						<string>17/06/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MWTEZ4CYM6</string>
						<key>name</key>
						<string>Philips Electronics Nederland B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
						<key>dateExpires</key>
						<string>17/06/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SipHash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MWTEZ4CYM6</string>
						<key>name</key>
						<string>Philips Electronics Nederland B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
						<key>dateExpires</key>
						<string>17/06/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Sodium.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MWTEZ4CYM6</string>
						<key>name</key>
						<string>Philips Electronics Nederland B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
						<key>dateExpires</key>
						<string>17/06/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MWTEZ4CYM6</string>
						<key>name</key>
						<string>Philips Electronics Nederland B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
						<key>dateExpires</key>
						<string>17/06/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Telepath.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MWTEZ4CYM6</string>
						<key>name</key>
						<string>Philips Electronics Nederland B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
						<key>dateExpires</key>
						<string>17/06/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MWTEZ4CYM6</string>
						<key>name</key>
						<string>Philips Electronics Nederland B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD9134616C0E498745805E4304E86F7DB84A7087</string>
						<key>dateExpires</key>
						<string>17/06/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>base64url.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MWTEZ4CYM6</string>
						<key>name</key>
						<string>Philips Electronics Nederland B.V.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>MWTEZ4CYM6.com.philips.Cogito</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:cogito.mobi</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>MWTEZ4CYM6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Cogito.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0fcfff90-17fb-45d4-a185-1ea55dc4868b</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.philips.Cogito</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>MWTEZ4CYM6</string>
				<key>name</key>
				<string>Philips Electronics Nederland B.V.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
